.logo{
    width: 250px;
}
@media(max-width: 610px){
    .logo{
        position: absolute;
        top: 50px;
        right: 20px;
        width: 100px;
    }
    .space{
        margin-top: 50px;
    }
}